#Practice Problem #1

In [ ]:
#Mounting drive to access data

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import datetime as dt

In [ ]:
filename = '/content/drive/MyDrive/all-project-files/chicago.csv'

In [ ]:
# load data file into a dataframe
df = pd.read_csv(filename)

In [ ]:
print(type(df['Start Time']))

<class 'pandas.core.series.Series'>

In [ ]:
df['Start Time'] = pd.to_datetime(df['Start Time'] )

In [ ]:
df['Start Time']

0        2017-06-23 15:09:32
1        2017-05-25 18:19:03
2        2017-01-04 08:27:49
3        2017-03-06 13:49:38
4        2017-01-17 14:53:07
                 ...
299995   2017-01-21 13:18:00
299996   2017-04-28 19:32:19
299997   2017-02-12 09:59:01
299998   2017-04-16 17:07:15
299999   2017-05-30 12:38:28
Name: Start Time, Length: 300000, dtype: datetime64[ns]

In [ ]:
# extract hour from the Start Time column to create an hour column
df['hour'] = df['Start Time'].dt.hour

In [ ]:
df['hour']

0         15
1         18
2          8
3         13
4         14
          ..
299995    13
299996    19
299997     9
299998    17
299999    12
Name: hour, Length: 300000, dtype: int64

In [ ]:
# find the most common hour (from 0 to 23)
# another: 
# popular_hour = df['hour'].mode()[0]
popular_hour = int(df['hour'].mode())

In [ ]:
print('Most Frequent Start Hour:', popular_hour)

Most Frequent Start Hour: 17

#Practice Problem #2

In [ ]:
import pandas as pd

In [ ]:
filename = '/content/drive/MyDrive/all-project-files/chicago.csv'

In [ ]:
# load data file into a dataframe
df = pd.read_csv(filename)

In [ ]:
df['User Type']

0         Subscriber
1         Subscriber
2         Subscriber
3         Subscriber
4         Subscriber
             ...
299995    Subscriber
299996      Customer
299997    Subscriber
299998      Customer
299999    Subscriber
Name: User Type, Length: 300000, dtype: object

In [ ]:
# print value counts for each user type
user_types = df['User Type'].value_counts()

In [ ]:
print(user_types)

Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64

#Practice Problem #3

In [ ]:
import pandas as pd
import datetime as dt

In [ ]:
CITY_DATA = { 'chicago': '/content/drive/MyDrive/all-project-files/chicago.csv',
              'new york city': '/content/drive/MyDrive/all-project-files/new_york_city.csv',
              'washington': '/content/drive/MyDrive/all-project-files/washington.csv' }

In [ ]:
# My Answer 
def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - pandas DataFrame containing city data filtered by month and day
    """
    
    month = month.lower()
    day = day.title()

    # load data file into a dataframe
    df = pd.read_csv(CITY_DATA[city])

    # convert the Start Time column to datetime
    df['Start Time'] = pd.to_datetime(df['Start Time'])

    # extract month and day of week from Start Time to create new columns
    df['month'] = df['Start Time'].dt.month
    # answer: old method 
    # df['day_of_week'] = df['Start Time'].dt.weekday_name
    df['day_of_week'] = df['Start Time'].dt.day_name()

    # filter by month if applicable
    if month != 'all':
        # use the index of the months list to get the corresponding int
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = months.index(month) + 1
    
        # filter by month to create the new dataframe
        # answer:
        # df = df[df['month'] == month]
        df = df.query("month == @month")

    # filter by day of week if applicable
    if day != 'all':
        # filter by day of week to create the new dataframe
        # answer
        # df = df[df['day_of_week'] == day.title()]
        df = df.query("day_of_week == @day")
    
    return df

df = load_data('chicago', 'march', 'friday')
df

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week
37,395803,2017-03-24 15:35:55,2017-03-24 15:46:10,615,Dearborn St & Erie St,State St & Van Buren St,Subscriber,Male,1989.0,3,Friday
93,395735,2017-03-24 15:32:04,2017-03-24 15:52:53,1249,Sedgwick St & Webster Ave,Western Ave & Winnebago Ave,Subscriber,Female,1964.0,3,Friday
175,395402,2017-03-24 15:10:29,2017-03-24 15:19:44,555,Franklin St & Monroe St,Aberdeen St & Monroe St,Subscriber,Male,1987.0,3,Friday
190,393400,2017-03-24 12:29:30,2017-03-24 12:48:56,1166,Southport Ave & Wellington Ave,Lake Shore Dr & North Blvd,Subscriber,Female,1984.0,3,Friday
198,427496,2017-03-31 08:25:53,2017-03-31 08:39:09,796,Clinton St & Jackson Blvd,Racine Ave (May St) & Fulton St,Subscriber,Male,1983.0,3,Friday
...,...,...,...,...,...,...,...,...,...,...,...
299816,333246,2017-03-10 17:40:53,2017-03-10 17:44:59,246,Wells St & Walton St,Rush St & Cedar St,Subscriber,Female,1992.0,3,Friday
299839,392682,2017-03-24 11:17:50,2017-03-24 11:51:44,2034,Lake Shore Dr & Monroe St,Streeter Dr & Grand Ave,Customer,NaN,NaN,3,Friday
299860,290125,2017-03-03 12:19:29,2017-03-03 12:32:58,809,Aberdeen St & Monroe St,Clark St & 9th St (AMLI),Subscriber,Male,1975.0,3,Friday
299865,288513,2017-03-03 07:26:48,2017-03-03 07:31:22,274,Damen Ave & Melrose Ave,Lincoln Ave & Roscoe St,Subscriber,Female,1981.0,3,Friday
299898,292757,2017-03-03 19:30:48,2017-03-03 19:34:52,244,Clark St & Berwyn Ave,Broadway & Berwyn Ave,Subscriber,Male,1980.0,3,Friday